* {
    box-sizing: border-box;
    font-family: 'segoe UI';
}

body {
    margin: 0;
}

.main-container {
    height: 100vh;
    width: 100%;
    background: #f7f7f7;
    padding-top: 5%;
    top:0;
    position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;    
}

.bg{
    content: "";
    position: absolute;
    background-image: url("team4.png");
    background-size: cover;
    background-position: center;
    top:0;
    width: 100%;
    height: 100vh;
    filter: blur(10px);
/*    z-index: -1;*/
    overflow-y:auto;
    background-attachment: fixed;
}
.sub-container {
    height: 90%;
    width: 25%;
    background: #fff;
    /* margin: auto; */
    border-radius: 20px;
    position: absolute;
    /* top: 5%; */
    /* left: 40%; */
    top: 50%;
    transform: translateY(-50%);
}

h2 {
    color: #000033;
    text-align: center;
    width: 100%;
    padding: 1em 3em;
    margin-top: 0;
    zoom:1;
}

p {
    text-align: center;
    width: 100%;
}

img {
    height: 240px;
    width: 250px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
}

.centered-button {
    position:absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    width: 50%;
    height: 40px;
    border-radius: 40px;
    background-color: #000033;
    cursor: pointer;
    color: white;
}


/*

responsive
*/

@media (max-width: 480px) {
  
 .sub-container {
height: 90%;
    width: 55%;
    background: #fff;
    /* margin: auto; */
    border-radius: 20px;
    position: absolute;
    /* top: 5%; */
    /* left: 40%; */
    top: 50%;
    transform: translateY(-50%);
}
    
h2 {
    padding: 0.5em 2em;
    font-size: 1.25rem;

}   

p {
    font-size: .75rem;
}

img {
height: 240px;
    width: 200px;
    /* position: absolute; */
    top: 52%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%);*/
}
    
}
    
@media (min-width: 481px) and (max-width: 600px) {

 .sub-container {
    height: 90%;
    width: 55%;

}
    
h2 {
    padding: 0.5em 2em;
    font-size: 1.25rem;

}   

p {
    font-size: 0.75rem;
    padding: 10px;
}

img {
height: 240px;
    width: 230px;
    top: 52%;
}    
     
}


@media (min-width: 601px) and (max-width: 1261px) {
   .sub-container {
    height: 90%;
    width: 60%;

}
    
h2 {
padding: 0.5em 2em;
    font-size: 1.45rem;

}   

p {
font-size: 1rem;
    padding: 10px;
}

img {
height: 245px;
    width: 270px;
}
}


